/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
		width: 880px;
		margin: 0 auto;
    display: block;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.navbar_top {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  padding-left: 0;
}

a{
  padding: 0 50px 5px 0;
}

.navbar_top a{
  color: #BABABA;
  padding 150px;
  display: inline-block;
  text-decoration: none;
}

.logoIMG {
  display: inline-block;
  position: relative;
  padding-left: 48px;
}

header {
  border: 1px solid red;
  height: 440px;
  vertical-align: top;
  border-bottom: 2px solid black;
}

.banner {
  border: 1px solid green;
  width: 440px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
 /* vertical-align: center;  /*  not "centering" */
  margin: 100px 10px;
}

h1 {
  display: inline-block;
  font-size: 70px;
  width: 250px;

}

button {
  font-size: 30px;
  border: 1px solid black;
  width: 220px;
}

.headerIMG {
  border: 1px solid blue;
  display: inline-block;
  width: 400px;
  height: 400px;
  padding-left: 20px;
}


.top-content {
  border: 1px solid hotpink;
  width: 420px;
  display: inline-block;
  padding: 30px 20px 30px 0;
}

.top-content:last-child {
  margin-left: 30px;
}

.middle-img {
  width: 100%;
}

.bottom-content {
  border: 1px solid hotpink;
  width: 33%;
  display: inline-block;
  padding: 30px 30px 30px 0;
}

address {
  border: 1px solid green;
  padding: 40px 0;
}

.phone {
  padding: 10px 0;
}

h4 {
  padding: 20px;
  text-align: center;
  font-size: 10px;
}